{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit Profile</title>


  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS files -->
  <link href="{{url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/magnific-popup.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/owl.carousel.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/owl.carousel.theme.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/ionicons.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/main.css') }}" rel="stylesheet">



  <link rel="shortcut icon" href="favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
</head>

<body>



  <!-- Bookstore Header -->
  <div class="site-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <a href="home">
                <a href="home"><img width=250px src="{{ url_for('static', filename= 'site_images/book_logo.png') }}" alt="logo"></a>
              </a>
            </div>
            <div class="col-sm-3 col-sm-offset-3 text-right">
              <span class="iconify" data-icon="ion-md-cart" data-inline="false"></span> 0 books
              <form method="GET" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search-query" placeholder="search here">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-robot" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <!-- Header -->



  <section id="header" class="main-header">
    <div class="container">


      <div class="row">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="site-nav-bar">
            <ul class="nav navbar-nav">
              <li><a href="home">Home</a></li>
              <li><a href="home">About</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="pages.html">Pages</a></li>
              {% if session['loggedIn'] %}
              <li class="active"><a href="edit_profile">Profile</a></li>
              <li><a href="logout">Log Out</a></li>
              {% else %}
              <li class="active"><a href="login">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>





      <div id="sign_up" class="container">
        <h1>Your Profile</h1>
        <p>Manage your information here. </p>

        <div class="row">
          <div class="boxed">
            <form action="edit_profile" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ info[0][7] }}
                    {{ nameform.hidden_tag() }}
                    {{ wtf.form_field(nameform.name) }}
                    <button type="submit" class="btn btn-robot pull-left"
                                                id="cfsubmit" name="submit_button" value="change-name" style= "margin-right: 2em;">Change Name</button>
                  </div> <!-- /.form-group -->
                </div> <!-- /.col-sm-6 -->
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="boxed">
            <form action="edit_profile" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    Card ending in {{ info[0][5][-4:] }}
                    {{ ccnumberform.hidden_tag() }}
                    {{ wtf.form_field(ccnumberform.ccnumber) }}
                    <button type="submit" class="btn btn-robot pull-left"
                                                id="cfsubmit" name="submit_button" value="change-name" style= "margin-right: 2em;">Update Card</button>
                  </div> <!-- /.form-group -->
                </div> <!-- /.col-sm-6 -->
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="boxed">
            <form action="edit_profile" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ info[0][6] }}
                    {{ addressform.hidden_tag() }}
                    {{ wtf.form_field(addressform.address) }}
                    <button type="submit" class="btn btn-robot pull-left"
                                                id="cfsubmit" name="submit_button" value="change-name" style= "margin-right: 2em;">Update Address</button>
                  </div> <!-- /.form-group -->
                </div> <!-- /.col-sm-6 -->
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="boxed">
            <form action="edit_profile" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ passform.hidden_tag() }}
                    {{ wtf.form_field(passform.currpassword) }}
                    {{ wtf.form_field(passform.newpassword) }}
                    <button type="submit" class="btn btn-robot pull-left"
                                                id="cfsubmit" name="submit_button" value="change-name" style= "margin-right: 2em;">Change Password</button>
                  </div> <!-- /.form-group -->
                </div> <!-- /.col-sm-6 -->
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="boxed">
            <form action="edit_profile" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ subform.hidden_tag() }}

                    {% if info[0][11] == 0 %}
                    <button type="submit" class="btn btn-robot pull-left"
                                                  id="cfsubmit" name="submit_button" value="subscribe" style= "margin-right: 2em;">Subscribe to our mailing list!</button>
                    {% else %}
                    <button type="submit" class="btn btn-robot pull-left"
                                                  id="cfsubmit" name="submit_button" value="unsubscribe" style= "margin-right: 2em;">Unsubscribe from mailing list.</button>
                    {% endif %}
                  </div> <!-- /.form-group -->
                </div> <!-- /.col-sm-6 -->
              </div>
            </form>
          </div>
        </div>


        <!-- Footer -->
        <footer class="footer text-center">
          <h3> Darnes & Boble Booksellers </a></h3>
        </footer>
        <!-- Footer -->



        <!--Charan Script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
          integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
          crossorigin="anonymous"></script>
        <!--Charan Script-->

        <script src="{{ url_for('static', filename= 'javascript/jquery-1.12.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'javascript/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'javascript/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'javascript/js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'javascript/js/script.js') }}"></script>


</body>

</html>