


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"
    <link rel="shortcut icon"href="favicon.ico">
  </head>

  <header>
    <div id = header>
      <img src="{{ url_for('static', filename= 'css/FAVPNG_book-reading-clip-art_HDRQJKvs.png') }}">

   <h3><em>Books</em></h3>
    
   <h4>Find the best books for you</h4>
  </div>
   <nav id = "nav_menu">
    <ul>
      <li ><a id="nav_link" href="home">Home</a></li>
      <li><a href="strength.html">Adventure</a></li>
      <li><a href="cardio_exercises.html">Fiction</a></li>
      <li><input type="text" placeholder="Search.."></li>
      <li><a href= "login">Log In</a></li>
  </nav>



<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Edit Profile</h1>
      <p>Please Enter your new information.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b> Change Password</b></label>
      <input type="password" placeholder="Enter  new Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
<br>
      <label for="psw-repeat"><b>Phone Number</b></label>
      <input type="text" placeholder=" New Phone Number" name="psw-repeat" required>
<br>
      <label for="psw-repeat"><b>Adresss</b></label>
      <input type="text" placeholder=" New Adresss" name="psw-repeat" required>
<br>

<label for="psw-repeat"><b>Edit Name</b></label>
<input type="text" placeholder=" New name" name="psw-repeat" required>


<label for="psw-repeat"><b>Edit  New Credit Card</b></label>
<input type="text" placeholder=" New Credit card Number " name="psw-repeat" required>
<input type="text" placeholder=" Experation  Date " name="psw-repeat" required>
<input type="text" placeholder=" CCV " name="psw-repeat" required>
<input type="text" placeholder=" Billing adress " name="psw-repeat" required>

      

  </form>

  <footer> 
    <p id="copyright">&copy; 2019 Shape Up!</p>  
  </footer>
