{% import "bootstrap/wtf.html" as wtf %}




<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign Up</title>


     <!-- google fonts -->
     <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

     <!-- CSS files -->
     <link href="{{url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{url_for('static', filename= 'css/magnific-popup.css') }}" rel="stylesheet">
     <link href="{{url_for('static', filename= 'css/owl.carousel.css') }}" rel="stylesheet">
     <link href="{{url_for('static', filename= 'css/owl.carousel.theme.min.css') }}" rel="stylesheet">
     <link href="{{url_for('static', filename= 'css/ionicons.css') }}" rel="stylesheet">
     <link href="{{url_for('static', filename= 'css/main.css') }}" rel="stylesheet">
     
     
 
    <link rel="shortcut icon"href="favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>

  <body>



    <!-- Bookstore Header -->
    <div class="site-header-bg">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                <a href="home">
                  <a href="home"><img width=250px src="{{ url_for('static', filename= 'site_images/book_logo.png') }}" alt="logo"></a>
                </a>
              </div>
              <div class="col-sm-3 col-sm-offset-3 text-right">
                  <span class="ion-android-cart"></span> 0 books
                  <form>
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="">
                          <span class="input-group-btn">
                              <button class="btn btn-default btn-robot" type="button">Search</button>
                          </span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- Header -->

  <section id="header" class="main-header">
    <div class="container">
  

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="site-nav-bar">
                    <ul class="nav navbar-nav">
                      <li><a href="home">Home</a></li>
                        <li><a href="home">About</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="pages.html">Pages</a></li>
                        {% if session['loggedIn'] %}
                        <li class="active"><a href="logout">Log Out</a></li>
                        {% else %}
                        <li class="active"><a href= "login">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


  <div class="container">
    <h1>Forgot Password</h1>
    <p>Please enter your information.</p>

  <div class="row">
    <div class="boxed">
      <form method="POST" action="/forgot_password" class="contact-form" id="contactForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              {{ form.hidden_tag() }}
              {{ wtf.form_field(form.username) }}
            </div> <!-- /.form-group -->
          </div> <!-- /.col-sm-6 -->
          <div class="col-sm-6">
            <div class="form-group">
              {{ wtf.form_field(form.email) }}
            </div> <!-- /.form-group -->
            <!-- Flask Form Taken from Orignial html file
            <form method="POST" action="/forgot_password">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.email) }}
              <button type="submit">Update</button></a>
            </form>
            -->
          </div> <!-- /.col-sm-6 -->
          <div class="text-center mt20 col-sm-12">
            <button type="submit" class="btn btn-robot pull-left" id="cfsubmit">Update</button>
          </div>

        </div>
      </form>
      </div>
    </div>


  <footer> 
    <p id="copyright">&copy; 2019 Shape Up!</p>  
  </footer>