{% import "bootstrap/wtf.html" as wtf %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"
    <link rel="shortcut icon"href="favicon.ico">
  </head>

<header>
    <div id = header>
      <img src="{{ url_for('static', filename= 'css/FAVPNG_book-reading-clip-art_HDRQJKvs.png') }}">

   <h3><em>Books</em></h3>
    
   <h4>Find the best books for you</h4>
  </div>
   <nav id = "nav_menu">
    <ul>
      <li ><a id="nav_link" href="main.html">Home</a></li>
      <li><a href="strength.html">Adventure</a></li>
      <li><a href="cardio_exercises.html">Fiction</a></li>
      <li><input type="text" placeholder="Search.."></li>
      <li><a href= "singup.html"> Sign Up</a></li>
  </nav>
</header>
<body>
<h1> Manage Movies</h1>
</body> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bookstore</title>


  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS files -->
  <link href="{{url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/magnific-popup.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/owl.carousel.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/owl.carousel.theme.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/ionicons.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename= 'css/main.css') }}" rel="stylesheet">



  <link rel="shortcut icon" href="favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>

  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</head>

<body>
  <!-- Bookstore Header -->
  <div class="site-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <a href="home">
                <a href="home"><img width=250px src="{{ url_for('static', filename= 'site_images/book_logo.png') }}" alt="logo"></a>
              </a>
            </div>
            <div class="col-sm-3 col-sm-offset-3 text-right">
              <span class="iconify" data-icon="ion-md-cart" data-inline="false"></span> 
              <a href="view_cart">{{session['cartQty']}} books</a>
              <form method="GET" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search-query" placeholder="search here">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-robot" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <!-- Header -->



  <section id="header" class="main-header">
    <div class="container">

      <div class="row">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="site-nav-bar">
            <ul class="nav navbar-nav">
              <li><a href="home">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="books">Books</a></li>
              <li><a href="pages.html">Pages</a></li>
              {% if session['loggedIn'] %}
              <li><a href="edit_profile">Profile</a></li>
              <li><a href="logout">Log Out</a></li>
              {% else %}
              <li><a href="login">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>


      <div class="intro row">
        <div class="overlay"></div>
        <div class="col-sm-6 col-sm-offset-6">
          {% if session['loggedIn'] %}

          <h2 class="header-quote">Welcome {{session['user']}}</h2>
          {% endif %}


          <p>
            <!-- Another line of info here -->
          </p>
          <h1 class="header-title">Manage<br><span class="thin">Promotions</span></h1>
        </div>
      </div>
    </div>
    <div class="nutral"></div>
  </section>


  <section id="product" class="product">
    <div class="container section-bg">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box">
            <h2 class="title">Active <span>Promotions</span></h2>
            <table align="center"
              style="font-family:Courier; text-transform:none; font-size: 20px;border: 1px solid black; border-collapse: collapse">


              <tr>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  Code:
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  Value:
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  End Date:
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  Status:
                </td>
            </tr>
              {% for promotion in promotions %}    
              <tr>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  {{promotion[1]}}
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  {{promotion[2]}}
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  {{promotion[3]}}
                </td>
                <td align="left"
                  style="padding-left: 10px;padding-right: 10px; border: 1px solid black; border-collapse: collapse">
                  {% if promotion[4]== 1 %}
                    ACTIVE
                    {% else %}
                    NOT ACTIVE
                  {% endif %}  
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="row">
          <div class="boxed">
            <div class="title-box">
              <h2 class="title">Add <span>Promotion</span></h2>
            </div>
            <form action="manage_promos" class="contact-form" id="contactForm" method="post">
              <div class="row">
                <div class="col-sm-6" align="center">
                  <div class="form-group">

                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.code) }}
                    {{ wtf.form_field(form.value) }}
                    {{ wtf.form_field(form.expiry_date) }}

                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="text-center mt20 col-sm-12">
                      <button type="submit" class="btn btn-robot pull-left" id="cfsubmit">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

          </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="classic-title">
          <div class="stiker">
            <h3 class="inner-stiker">Why choose us?</h3>
          </div>
          <h3 class="outer-stiker">We Received *some award*</h3>
          <div class="incline-div"></div>
        </div>
      </div>
      <div class="boxed">
        <div class="col-sm-4">
          <p class="p-large">
            Paragraph of text
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            Paragraph of text
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            Paragraph of text
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <footer class="footer text-center">
    <h3> Darnes & Boble Booksellers </a></h3>
  </footer>
  <!-- Scripts -->




  <script src="{{ url_for('static', filename= 'javascript/jquery-1.12.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'javascript/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'javascript/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'javascript/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'javascript/js/script.js') }}"></script>

</body>

</html>