


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon"href="favicon.ico">
  </head>

  <header>
    <div id = header>
   <img src="FAVPNG_book-reading-clip-art_HDRQJKvs.png">

   <h3><em>Books</em></h3>
    
   <h4>Find the best books for you</h4>
  </div>
   <nav id = "nav_menu">
    <ul>
      <li ><a id="nav_link" href="home">Home</a></li>
      <li><a href="strength.html">Adventure</a></li>
      <li><a href="cardio_exercises.html">Fiction</a></li>
      <li><input type="text" placeholder="Search.."></li>
      <li><a href= "login">Log In</a></li>
  </nav>



<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Search</h1>
      <p>Please filter information.</p>
      <hr>
  
      <label for="email"><b>Author</b></label>
      <input type="text" placeholder="Author" name="email" required>
  
      <label for="psw"><b>ISBN</b></label>
      <input type="text" placeholder="ISBN" name="psw" required>
  
      <label for="psw-repeat"><b>Year Published</b></label>
      <input type="text" placeholder="Year Published" name="psw-repeat" required>

<br>
      <label for="psw-repeat"><b>Title</b></label>
      <input type="text" placeholder="Title" name="psw-repeat" required>
<br>
      <label for="psw-repeat"><b>Max Price</b></label>
      <input type="text" placeholder="Max Price" name="psw-repeat" required>

      <label for="psw-repeat"><b>Category</b></label>
      <input type="text" placeholder="Category" name="psw-repeat" required>

     
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
       
      </div>
    </div>
  </form>

  <footer> 
    <p id="copyright">&copy; 2019 Shape Up!</p>  
  </footer>
