{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"
    <link rel="shortcut icon"href="favicon.ico">
  </head>

  <header>
    <div id = header>
      <img src="{{ url_for('static', filename= 'css/FAVPNG_book-reading-clip-art_HDRQJKvs.png') }}">

   <h3><em>Books</em></h3>
    
   <h4>Find the best books for you</h4>
  </div>
   <nav id = "nav_menu">
    <ul>
      <li ><a id="nav_link" href="main.html">Home</a></li>
      <li><a href="strength.html">Adventure</a></li>
      <li><a href="cardio_exercises.html">Fiction</a></li>
      <li><input type="text" placeholder="Search.."></li>
      <li><a href= "singup.html"> Sign Up</a></li>
  </nav>



    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <form method="POST" action="/signup">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.phone) }}
        {{ wtf.form_field(form.address) }}
        {{ wtf.form_field(form.ccnumber) }}

        <button type="submit">Sign Up</button>
        </form>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <li><button type="submit" class="button"  onclick="alert('You have successfully signed up! Please Check your email for a confirmation link')" >Sign Up</button></li> 
      </div>
    </div>
    <div id= "signup">
        <p>Already have an account? log in here!</p>
        <a href= "login.html"><p>Login</p></a>

    </div>

  <footer> 
    <p id="copyright">&copy; 2019 Shape Up!</p>  
  </footer>
